$font : 'Roboto', sans-serif
$fontSize : 25px
$backColor : #F2F2F2


html, body
  font-family: $font
  margin: 20px 15% 0 15%
  padding: 0
  box-sizing: border-box
  height: 100%
  background-color: $backColor

.hrHome
  width: 1000px
