@import "colors.sass"

.hrHome
  display: flex
  height: 85vh
  margin: auto
  padding: 10px
  .questions
    width: 50vw
  .hrPaperQuestions
    margin-bottom: 1px
    margin-left: 10px
    margin-right: 10px
    height: 50px
    background-color: $listitemBackgroundColor
    cursor: pointer
    display: flex
    justify-content: center
    align-items: center
  .material-icons
    padding: 0
  .positions
    margin-top: 5px
    width: 50vw

.candidates
  flex-direction: column

.interview-homepage
  height: 85vh
  padding: 20px
