@import "colors.sass"

.make-interview
  display: flex
  height: 90vh
  justify-content: center
  align-items: center
  flex-direction: column
  width: 80%
  margin: 0 auto

  .centered
    display: flex
    justify-content: center
    text-align: center

  .tables
    display: flex
    justify-content: center
    align-items: center
    flex-direction: row
